#chatwindow{
    position:relative;
    height:400px; /* if you wish to use all of your space, use
    position:absolute; top:0;left:0;right:0;bottom:0;
    or drop the chatdwindow div */
}
#messagewindow, #inputcontainer{
    position:absolute;
    left:0;
    right:0;
    border:3px solid #111;
}
#messagewindow{   
    overflow:auto;
    top:0;
    bottom:3em;
}

#inputcontainer {
    bottom: 0;
    border: 0;
}

#msginput {
    height: 30px;
    width: 98.3%;
}

p.mine, p.others {
    margin: 2px;
}